*{
    color: rgb(38, 38, 38);
    font-size: medium;
}

#image{
    margin: 25px;
}


.conteneur{
    width: 70%;
    margin: 50px auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
}
.profil{
    margin: auto;
    text-align: center;
}
.form{
    max-width: 50%;
    border: turquoise solid 2px;
    padding: 10px;
}

#spanBatteltag, #spanNom, #spanPrenom{
    font-size: 12px;
    color: rgb(109, 109, 109);
}
em{
    color:green;

}